<li class = "book">
    <!-- <p class = "sno"> {{i+1}} </p> --> 
  <img [src]="book.image" [alt]="book.name" width="100"/>   
  <p class = "title">{{book.name | titlecase }} by {{book.author | titlecase}} </p>
  <!-- pipe sign is | -->
  <!-- titlecase make it title formate-->
  <p class = "currency">{{book.amount | currency:'USD' }}</p>


  <!-- When book is not in Cart,this button will show -->
  <button *ngIf = "!isInCart" (click) = "addToCart()">Add to Cart</button> <!-- if -->
  <!-- When book is already in Cart,this button will show -->  
  <button *ngIf = "isInCart" (click) = "removeFromCart()">Remove from Cart</button> <!-- if -->
  
  </li>     
