<h2>Programming books list</h2> 
<button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
       
</button>

<!-- <button (click) = "handleClick()" [disabled] = "isDisabled">Show books</button> -->
<!-- (click) is an Event -->
<!-- handleClick() is a Function -->


<!-- 
Angular has two way binding 
(click) it is event binding 
& 
[disabled] it is called attribute or property binding (square Brakets)
-->
<!--- <input type="text" [(ngModel)]="myName"/>  -->

<!-- instend of using function handleInput($event) we can use only property name  -->
<!-- ngModel can bind value and input -->

<!--- <div>{{myName}}</div> -->

<!-- interpolation is not recommended, we have to use Property binding-->
<ul *ngIf="isShowing">

    <ng-container *ngFor="let book of book; let i = index">
        <li>
            {{i+1}}
            <img [src]="book.image" [alt]="book.name" width="100"/>   
        {{book.name}} by {{book.author}}
        </li>     
    </ng-container>
        
</ul>

